<% @days.each do |day| %>
    <tr>
      <td><%= day[:name].to_date %></td>
      <td><%= day[:name].strftime("%A") %></td>

      <% if day[:day] != 'none' %>
        <td><%= link_to 'Show', day_todo_lists_path(day[:day]) %></td>
      <% end %>

    </tr>
<% end %>