<% @days.each do |day| %>
    <div class="week_day">
      <p><%= day[:name].to_date %></p>
      <p><%= day[:name].strftime("%A") %></p>
      <br/>
      <p>
      <% if day[:day] != 'none' %>
        <p><%= link_to 'Show', day_todo_lists_path(day[:day]) %></p>
      <% else %>
          <p><%= link_to 'Add Todo list', new_day_path(day[:name]) %></p>
      <% end %>
      </p>
    </div>
<% end %>